<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Contact Us</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="180x180" href="../static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/favicon/favicon-16x16.png">
    <link rel="manifest" href="../static/favicon/site.webmanifest">

    <!-- CSS here -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/animate.min.css">
    <link rel="stylesheet" href="../static/css/magnific-popup.css">
    <link rel="stylesheet" href="../static/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="../static/css/dripicons.css">
    <link rel="stylesheet" href="../static/css/slick.css">
    <link rel="stylesheet" href="../static/css/meanmenu.css">
    <link rel="stylesheet" href="../static/css/swiper.min.css">
    <link rel="stylesheet" href="../static/css/default.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/responsive.css">
</head>

<body>
    <!-- header -->
    <header class="header-area header-two">
        <div id="header-sticky" class="menu-area">
            <div class="container">
                <div class="second-menu">
                    <div class="row align-items-center">
                        <div class="col-lg-2 col-md-12">
                            <div class="logo">
                                <a href="/"><img src="../static/img/logo/logo2.png" alt="logo"></a>
                            </div>
                        </div>
                        <div class="col-xl-8 col-lg-8 text-center">

                            <div class="main-menu">
                                <nav id="mobile-menu">
                                    <ul>
                                        <li><a href="/">Home</a></li>
                                        <li><a href="contact">Contact Us</a></li>
                                        <li><a href="signup">Sign Up</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 text-right d-none d-lg-block">
                            <a href="signin" class="top-btn mt-15 mb-15">Sign In <i class="fa-light fa-sign-in"></i></a>
                        </div>
                        <div class="col-12">
                            <div class="mobile-menu"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->
    <!-- main-area -->
    <main>

        <!-- breadcrumb-area -->
        <section class="breadcrumb-area d-flex align-items-center"
            style="background-image:url(../static/img/bg/bdrc-bg.jpg)">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-12 col-lg-12">
                        <div class="breadcrumb-wrap text-center">
                            <div class="breadcrumb-title">
                                <h2>Contact Us</h2>
                                <div class="breadcrumb-wrap">

                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">Contact Us</li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- breadcrumb-area-end -->

        <!-- contact-area -->
        <section id="contact" class="contact-area3 after-none contact-bg pt-120 pb-90 p-relative fix">
            <div class="container">
                <div class="row per-info per-info2">
                    <div class="col-xl-3 col-lg-3 col-mb-3">
                        <div class="box mb-30">
                            <div class="icon"><i class="fal fa-location-dot"></i></div>
                            <div class="text">
                                <h4>Address</h4>
                                <p>Rahim Yar Khan</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-mb-3">
                        <div class="box mb-30">
                            <div class="icon"><i class="fal fa-phone"></i></div>
                            <div class="text">
                                <h4>Phone Number</h4>
                                <p><a href="tel:+92 123 4567890">+92 123 4567890</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-mb-3">
                        <div class="box mb-30">
                            <div class="icon"><i class="fal fa-envelope"></i></div>
                            <div class="text">
                                <h4>E-mail</h4>
                                <p><a href="emailto:info@kfueit.edu.pk">info@kfueit.edu.pk</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-mb-3">
                        <div class="box mb-30">
                            <div class="icon"><i class="fal fa-calendar-alt"></i></div>
                            <div class="text">
                                <h4>Schedule</h4>
                                <p>24/7</p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </section>
        <!-- contact-area-end -->
        <!-- map-area-end -->
        <div class="map fix">
            <div class="container">

                <div class="row">
                    <div class="col-lg-12">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3510.272671725572!2d70.36984868885497!3d28.38083119999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39375efadd8e3573%3A0xf516a4b3e4cb06b8!2sKhwaja%20Fareed%20University%20of%20Engineering%20%26%20Information%20Technology%20(KFUEIT)!5e0!3m2!1sen!2s!4v1711905849449!5m2!1sen!2s"
                            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                </div>
            </div>
        </div>
        <!-- map-area-end -->
        <!-- contact-area -->
        <section class="contact-area-two pt-120 pb-120 p-relative fix">
            <div class="container">
                <div class="row align-items-center">

                    <div class="col-lg-7">
                        <div class="contact-bg03">
                            <div class="section-title wow fadeInDown animated" data-animation="fadeInDown"
                                data-delay=".4s">
                                <h5>Contact Now</h5>
                                <h2>
                                    Get In Touch
                                </h2>
                            </div>
                            <form action="/contact" method="post" class="contact-form mt-30 wow fadeInUp animated"
                                data-animation="fadeInUp" data-delay=".4s">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="contact-field p-relative c-name mb-20">
                                            <label>Your Name</label>
                                            <input type="text" id="name" name="name" placeholder="Name" required>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="contact-field p-relative c-subject mb-20">
                                            <label>Your Email</label>
                                            <input type="text" id="email" name="email" placeholder="Email" required>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="contact-field p-relative c-subject mb-20">
                                            <label>Subject</label>
                                            <input type="text" id="subject" name="subject" placeholder="Subject"
                                                required>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="contact-field p-relative c-message mb-30">
                                            <label>Message</label>
                                            <textarea name="message" id="message" cols="30" rows="20"
                                                placeholder="Write comments" required></textarea>
                                        </div>
                                        <div class="slider-btn">
                                            <button class="btn ss-btn" data-animation="fadeInRight"
                                                data-delay=".8s"><span>Submit</span></button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="contact-img2">
                            <img src="../static/img/features/appointment-img.png" alt="img">
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- contact-area-end -->
    </main>
    <!-- main-area-end -->

    <!-- footer -->
    <footer class="footer-bg footer-two footer-p" style="background-image: url(../static/img/bg/footer-bg.png);">
        <div class="footer-top  pt-90 pb-30">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-xl-4 col-lg-4 col-sm-6">
                        <div class="footer-widget mb-30" data-aos="fade-up" data-aos-duration="1000">
                            <div class="f-widget-title">
                                <h2> <img src="../static/img/logo/f_logo.png" alt="img"></h2>
                            </div>
                            <div class="f-contact pr-10">
                                <p>Empowering mental health through innovative technology, we strive to create
                                    accessible solutions for early detection and intervention in children's mental
                                    well-being, ensuring a brighter and healthier future for all.</p>
                            </div>
                            <div class="footer-social mt-10">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-sm-6">
                        <div class="footer-widget mb-30" data-aos="fade-up" data-aos-duration="1400">
                            <div class="f-widget-title">
                                <h2>Important Links</h2>
                            </div>
                            <div class="footer-link">
                                <ul>
                                    <li><a href="/">Home</a></li>
                                    <li><a href="contact">Contact Us</a></li>
                                    <li><a href="signin">Sign In</a></li>
                                    <li><a href="signup">Sign Up</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-sm-6">
                        <div class="footer-widget mb-30" data-aos="fade-up" data-aos-duration="1800">
                            <div class="f-widget-title">
                                <h2>Contact Us </h2>
                            </div>
                            <div class="f-contact pr-10">
                                <ul>
                                    <li>
                                        <div class="icon"><i class="icon fal fa-envelope"></i><span><a
                                                    href="mailto:info@kfueit.edu.pk">info@kfueit.edu.pk</a></span></div>
                                    </li>
                                    <li>
                                        <div class="icon"> <i class="icon fal fa-location-dot"></i> <span>Kfueit, Abu
                                                Dhabi Rd, Rahim Yar Khan, Punjab</span> </div>
                                    </li>
                                    <li>
                                        <div class="icon"> <i class="icon fal fa-phone"></i> <span><a
                                                    href="tel:+921234567890">+92 123 4567890</a></span> </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-wrap">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        Copyright © DDCV2024 . All rights reserved.
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer-end -->

    <!-- JS here -->
    <script src="../static/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="../static/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="../static/js/popper.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/slick.min.js"></script>
    <script src="../static/js/ajax-form.js"></script>
    <script src="../static/js/paroller.js"></script>
    <script src="../static/js/wow.min.js"></script>
    <script src="../static/js/js_isotope.pkgd.min.js"></script>
    <script src="../static/js/imagesloaded.min.js"></script>
    <script src="../static/js/parallax.min.js"></script>
    <script src="../static/js/jquery.waypoints.min.js"></script>
    <script src="../static/js/jquery.counterup.min.js"></script>
    <script src="../static/js/jquery.scrollUp.min.js"></script>
    <script src="../static/js/jquery.meanmenu.min.js"></script>
    <script src="../static/js/parallax-scroll.js"></script>
    <script src="../static/js/swiper.min.js"></script>
    <script src="../static/js/jquery.magnific-popup.min.js"></script>
    <script src="../static/js/element-in-view.js"></script>
    <script src="../static/js/main.js"></script>
</body>

</html>