<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Dashboard</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="180x180" href="../static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/favicon/favicon-16x16.png">
    <link rel="manifest" href="../static/favicon/site.webmanifest">

    <!-- CSS here -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/animate.min.css">
    <link rel="stylesheet" href="../static/css/magnific-popup.css">
    <link rel="stylesheet" href="../static/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="../static/css/dripicons.css">
    <link rel="stylesheet" href="../static/css/slick.css">
    <link rel="stylesheet" href="../static/css/meanmenu.css">
    <link rel="stylesheet" href="../static/css/swiper.min.css">
    <link rel="stylesheet" href="../static/css/default.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/responsive.css">
</head>

<body>
    <!-- header -->
    <header class="header-area header-three">
        <div class="header-top second-header d-none d-md-block">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-xl-2 col-lg-2"> </div>
                    <div class="col-lg-6 col-md-7 d-none d-md-block">
                        <div class="header-cta">
                            <ul>
                                <li>
                                    <div class="call-box">
                                        <div class="icon">
                                            <i class="fa-regular fa-phone"></i>
                                        </div>
                                        <div class="text">
                                            <strong><a href="tel:+921234567890">+92 123 4567890</a></strong>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="call-box">
                                        <div class="icon">
                                            <i class="fa-regular fa-envelope"></i>
                                        </div>
                                        <div class="text">
                                            <strong><a href="mailto:info@kfueit.edu.pk"> info@kfueit.edu.pk
                                                </a></strong>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="call-box">
                                        <div class="icon">
                                            <i class="fa-regular fa-location-dot"></i>
                                        </div>
                                        <div class="text">
                                            <strong>Rahim Yar Khan</strong>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-3 text-right d-none d-md-block">
                        <div class="header-social">
                            <span>
                                <a href="#" title="Facebook"><i class="fab fa-facebook-f"></i></a>
                                <a href="#" title="LinkedIn"><i class="fab fa-instagram"></i></a>
                                <a href="#" title="Twitter"><i class="fab fa-twitter"></i></a>
                                <a href="#" title="Twitter"><i class="fab fa-youtube"></i></a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="header-sticky" class="menu-area">
            <div class="container-fluid">
                <div class="second-menu">
                    <div class="row align-items-center">
                        <div class="col-lg-2 col-md-12">
                            <div class="logo">
                                <a href="/"><img src="../static/img/logo/logo.png" alt="logo"></a>
                            </div>
                        </div>
                        <div class="col-xl-8 col-lg-8">
                            <div class="main-menu">
                                <nav id="mobile-menu">
                                    <ul>
                                        <li class="has-sub">
                                            <a href="/">Dashboard</a>
                                        </li>
                                        <li><a href="predict">Prediction</a></li>
                                        <li><a href="trainmodel">Model Training</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 text-right d-none d-lg-block  mt-10 mb-10">
                            <a href="/signout" class="btn">Sign Out</a>
                        </div>
                        <div class="col-12">
                            <div class="mobile-menu"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->

    <!-- why-choose -->
    <section class="choose-area about-p pt-20 pb-120 p-relative fix"
        style="background-image: url(../static/img/bg/choose-bg.png); background-size: cover; background-repeat: no-repeat;">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="section-title mb-30 wow fadeInDown animated" data-animation="fadeInDown"
                        data-delay=".4s">
                        <br>
                        <h5><img src="../static/img/bg/sub-icon-w.png" alt="icon01"> Our service</h5>
                        <h2>
                            Depression Detection In Children With Voice
                        </h2>
                    </div>
                    <p>The Depression Detection in Children with Voice project is an innovative approach aimed at
                        identifying signs of depression in children through voice analysis. The objective of this
                        project is to develop an efficient and effective mechanism for early detection and monitoring of
                        depression in children.</p>
                    <br>
                    <br>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="s-about-img p-relative wow fadeInLeft animated" data-animation="fadeInLeft"
                        data-delay=".4s">
                        <img src="../static/img/features/why-choose-img.png" alt="img">
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="choose-content mb-50 s-about-content wow fadeInRight animated"
                        data-animation="fadeInRight" data-delay=".4s">
                        <p>NAME</p>
                        <h3>{{ session["first_name"] }} {{ session["last_name"] }}</h3>
                    </div>
                    <div class="choose-content mb-50 s-about-content wow fadeInRight animated"
                        data-animation="fadeInRight" data-delay=".4s">
                        <p>GENDER</p>
                        <h3>{{ session["gender"] }}</h3>
                    </div>
                    <div class="choose-content mb-50 s-about-content wow fadeInRight animated"
                        data-animation="fadeInRight" data-delay=".4s">
                        <p>AGE</p>
                        <h3>{{ session["age"] }}</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--  why-choose-end -->

    <!-- data-area -->
    <div id="booking" class="booking-area p-relative">
        <div class="container">
            <form action="#" class="contact-form">
                <div class="row align-items-center">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <h1>Your Prediction Data</h1>
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Filename</th>
                                                <th>Model</th>
                                                <th>Prediction Class</th>
                                                <th>Prediction Percentage</th>
                                                <th>Delete</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for row in predict_data %}
                                            <tr>
                                                <td>{{ row[0] }}</td>
                                                <td>{{ row[1] }}</td>
                                                <td>{{ row[2] }}</td>
                                                <td>{{ row[3] }}</td>
                                                <td>{{ row[4] }}</td>
                                                <td>
                                                    <form action="/delete_prediction/{{ row[0] }}" method="post">
                                                        <button type="submit" class="btn btn-danger">Delete</button>
                                                    </form>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    <!-- Button to delete all prediction records -->
                                    <form action="/delete_all_predictions" method="post">
                                        <button type="submit" class="btn btn-danger">Delete All Predictions
                                            Data</button>
                                    </form>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <br>
                                    <h1>Your Model Training Data</h1>
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Model Name</th>
                                                <th>Model Choice</th>
                                                <th>MSE</th>
                                                <th>MAE</th>
                                                <th>R-Squared</th>
                                                <th>RMSE</th>
                                                <th>Accuracy</th>
                                                <th>Delete</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for row in model_data %}
                                            <tr>
                                                <td>{{ row[0] }}</td>
                                                <td>{{ row[1] }}</td>
                                                <td>{{ row[2] }}</td>
                                                <td>{{ row[3] }}</td>
                                                <td>{{ row[4] }}</td>
                                                <td>{{ row[5] }}</td>
                                                <td>{{ row[6] }}</td>
                                                <td>{{ row[7] }}</td>
                                                <td>
                                                    <form action="/delete_model/{{ row[0] }}" method="post">
                                                        <button type="submit" class="btn btn-danger">Delete</button>
                                                    </form>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    <!-- Button to delete all model records -->
                                    <form action="/delete_all_models" method="post">
                                        <button type="submit" class="btn btn-danger">Delete All Models</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- data-area-end -->

    <!-- footer -->
    <footer class="footer-bg footer-two footer-p" style="background-image: url(../static/img/bg/footer-bg.png);">
        <div class="footer-top  pt-90 pb-30">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-xl-4 col-lg-4 col-sm-6">
                        <div class="footer-widget mb-30" data-aos="fade-up" data-aos-duration="1000">
                            <div class="f-widget-title">
                                <h2> <img src="../static/img/logo/f_logo.png" alt="img"></h2>
                            </div>
                            <div class="f-contact pr-10">
                                <p>Empowering mental health through innovative technology, we strive to create
                                    accessible solutions for early detection and intervention in children's mental
                                    well-being, ensuring a brighter and healthier future for all.</p>
                            </div>
                            <div class="footer-social mt-10">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-sm-6">
                        <div class="footer-widget mb-30" data-aos="fade-up" data-aos-duration="1400">
                            <div class="f-widget-title">
                                <h2>Important Links</h2>
                            </div>
                            <div class="footer-link">
                                <ul>
                                    <li><a href="/">Dashboard</a></li>
                                    <li><a href="predict">Prediction</a></li>
                                    <li><a href="train-model">Model Training</a></li>
                                    <li><a href="/signout">Sign Out</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-sm-6">
                        <div class="footer-widget mb-30" data-aos="fade-up" data-aos-duration="1800">
                            <div class="f-widget-title">
                                <h2>Contact Us </h2>
                            </div>
                            <div class="f-contact pr-10">
                                <ul>
                                    <li>
                                        <div class="icon"><i class="icon fal fa-envelope"></i><span><a
                                                    href="mailto:info@kfueit.edu.pk">info@kfueit.edu.pk</a></span></div>
                                    </li>
                                    <li>
                                        <div class="icon"> <i class="icon fal fa-location-dot"></i> <span>Kfueit, Abu
                                                Dhabi Rd, Rahim Yar Khan, Punjab</span> </div>
                                    </li>
                                    <li>
                                        <div class="icon"> <i class="icon fal fa-phone"></i> <span><a
                                                    href="tel:+921234567890">+92 123 4567890</a></span> </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-wrap">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        Copyright © DDCV2024 . All rights reserved.
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer-end -->

    <!-- JS here -->
    <script src="../static/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="../static/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="../static/js/popper.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/slick.min.js"></script>
    <script src="../static/js/ajax-form.js"></script>
    <script src="../static/js/paroller.js"></script>
    <script src="../static/js/wow.min.js"></script>
    <script src="../static/js/js_isotope.pkgd.min.js"></script>
    <script src="../static/js/imagesloaded.min.js"></script>
    <script src="../static/js/parallax.min.js"></script>
    <script src="../static/js/jquery.waypoints.min.js"></script>
    <script src="../static/js/jquery.counterup.min.js"></script>
    <script src="../static/js/jquery.scrollUp.min.js"></script>
    <script src="../static/js/jquery.meanmenu.min.js"></script>
    <script src="../static/js/parallax-scroll.js"></script>
    <script src="../static/js/swiper.min.js"></script>
    <script src="../static/js/jquery.magnific-popup.min.js"></script>
    <script src="../static/js/element-in-view.js"></script>
    <script src="../static/js/main.js"></script>
</body>

</html>