<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>DDCV</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="180x180" href="../static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/favicon/favicon-16x16.png">
    <link rel="manifest" href="../static/favicon/site.webmanifest">

    <!-- CSS here -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/animate.min.css">
    <link rel="stylesheet" href="../static/css/magnific-popup.css">
    <link rel="stylesheet" href="../static/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="../static/css/dripicons.css">
    <link rel="stylesheet" href="../static/css/slick.css">
    <link rel="stylesheet" href="../static/css/meanmenu.css">
    <link rel="stylesheet" href="../static/css/swiper.min.css">
    <link rel="stylesheet" href="../static/css/default.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/responsive.css">
</head>

<body>
    <!-- header -->
    <header class="header-area header-three">
        <div class="header-top second-header d-none d-md-block">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-xl-2 col-lg-2"> </div>
                    <div class="col-lg-6 col-md-7 d-none d-md-block">
                        <div class="header-cta">
                            <ul>
                                <li>
                                    <div class="call-box">
                                        <div class="icon">
                                            <i class="fa-regular fa-phone"></i>
                                        </div>
                                        <div class="text">
                                            <strong><a href="tel:+921234567890">+92 123 4567890</a></strong>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="call-box">
                                        <div class="icon">
                                            <i class="fa-regular fa-envelope"></i>
                                        </div>
                                        <div class="text">
                                            <strong><a href="mailto:info@kfueit.edu.pk"> info@kfueit.edu.pk
                                                </a></strong>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="call-box">
                                        <div class="icon">
                                            <i class="fa-regular fa-location-dot"></i>
                                        </div>
                                        <div class="text">
                                            <strong>Rahim Yar Khan</strong>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-3 text-right d-none d-md-block">
                        <div class="header-social">
                            <span>
                                <a href="#" title="Facebook"><i class="fab fa-facebook-f"></i></a>
                                <a href="#" title="LinkedIn"><i class="fab fa-instagram"></i></a>
                                <a href="#" title="Twitter"><i class="fab fa-twitter"></i></a>
                                <a href="#" title="Twitter"><i class="fab fa-youtube"></i></a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="header-sticky" class="menu-area">
            <div class="container-fluid">
                <div class="second-menu">
                    <div class="row align-items-center">
                        <div class="col-lg-2 col-md-12">
                            <div class="logo">
                                <a href="/"><img src="../static/img/logo/logo.png" alt="logo"></a>
                            </div>
                        </div>
                        <div class="col-xl-8 col-lg-8">
                            <div class="main-menu">
                                <nav id="mobile-menu">
                                    <ul>
                                        <li><a href="/">Home</a></li>
                                        <li><a href="contact">Contact Us</a></li>
                                        <li><a href="signup">Sign Up</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 text-right d-none d-lg-block  mt-10 mb-10">
                            <a href="signin" class="btn">Sign In</a>
                        </div>
                        <div class="col-12">
                            <div class="mobile-menu"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->
    <!-- main-area -->
    <main>
        <!-- slider-area -->
        <section id="parallax"
            class="slider-area slider-bg second-slider-bg d-flex align-items-center justify-content-center fix"
            style="background-image: url(../static/img/slider/slider_bg.png); background-size: cover;">
            <div class="single-slider slider-bg d-flex align-items-center">
                <div class="container">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-xl-6 col-lg-6 col-md-12">
                            <div class="slider-content s-slider-content mt-100">
                                <h5 class="wow fadeInUp animated" data-animation="fadeInUp" data-delay=".4s">
                                    DDCV<span><img src="../static/img/slider/h-line.png" alt="shape"></span></h5>
                                <h2 class="wow fadeInUp animated" data-animation="fadeInUp" data-delay=".4s">Depression
                                    Detection <span>In Children</span> With Voice</h2>
                                <p class="wow fadeInUp animated" data-animation="fadeInUp" data-delay=".6s">Depressed
                                    children may exhibit symptoms such as persistent sadness, low energy, and changes in
                                    appetite or sleep patterns.</p>

                                <div class="slider-btn mt-50 mb-105">
                                    <a href="contact" class="btn ss-btn mr-15 wow fadeInUp animated"
                                        data-delay=".7s">Contact Us <i class="fa-light fa-phone"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-12 p-relative text-right">
                            <div class="slider-img wow fadeInRight animated" data-delay=".6s">
                                <img src="../static/img/slider/man_header.png" alt="shape">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- slider-area-end -->
        <!-- service-area -->
        <section class="service-three p-relative fix pt-120 pb-90">
            <div class="animations-01"><img src="../static/img/bg/ani-img-01.png" alt="an-img-01"></div>
            <div class="container">
                <div class="row justify-content-center align-items-center mb-50">
                    <div class="col-lg-6 col-md-12">
                        <div class="section-title center-align text-center wow fadeInDown animated"
                            data-animation="fadeInDown" data-delay=".4s">
                            <h5><img src="../static/img/bg/sub-icon.png" alt="icon01"> Our Services</h5>
                            <h2>
                                Detect Depression With The Followings Models
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="row sbox">
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="services-box mb-30 wow fadeInUp animated" data-animation="fadeInUp"
                            data-delay=".4s">
                            <div class="sr-contner">
                                <div class="icon">
                                    <div class="icon-hover-one"><img src="../static/img/icon/sve-icon1.png"
                                            alt="icon01"></div>
                                    <div class="icon-hover-two"><img src="../static/img/icon/sve-icon-w1.png"
                                            alt="icon01"></div>
                                </div>
                                <div class="text">
                                    <h3><a href="services.html">Logistic Regression</a></h3>
                                    <p>Health care is an essential category that many encompasses a wide range of
                                        services aimed at promoting and maintaining </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="services-box mb-30 wow fadeInUp animated" data-animation="fadeInUp"
                            data-delay=".4s">
                            <div class="sr-contner">
                                <div class="icon">
                                    <div class="icon-hover-one"><img src="../static/img/icon/sve-icon1.png"
                                            alt="icon01"></div>
                                    <div class="icon-hover-two"><img src="../static/img/icon/sve-icon-w1.png"
                                            alt="icon01"></div>
                                </div>
                                <div class="text">
                                    <h3><a href="services.html">Random Forest</a></h3>
                                    <p>Health care is an essential category that many encompasses a wide range of
                                        services aimed at promoting and maintaining </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="services-box mb-30 wow fadeInUp animated" data-animation="fadeInUp"
                            data-delay=".4s">
                            <div class="sr-contner">
                                <div class="icon">
                                    <div class="icon-hover-one"><img src="../static/img/icon/sve-icon1.png"
                                            alt="icon01"></div>
                                    <div class="icon-hover-two"><img src="../static/img/icon/sve-icon-w1.png"
                                            alt="icon01"></div>
                                </div>
                                <div class="text">
                                    <h3><a href="services.html">SVM Gaussian Kernal</a></h3>
                                    <p>Health care is an essential category that many encompasses a wide range of
                                        services aimed at promoting and maintaining </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="services-box mb-30 wow fadeInUp animated" data-animation="fadeInUp"
                            data-delay=".4s">
                            <div class="sr-contner">
                                <div class="icon">
                                    <div class="icon-hover-one"><img src="../static/img/icon/sve-icon1.png"
                                            alt="icon01"></div>
                                    <div class="icon-hover-two"><img src="../static/img/icon/sve-icon-w1.png"
                                            alt="icon01"></div>
                                </div>
                                <div class="text">
                                    <h3><a href="services.html">SVM Linear Kernal</a></h3>
                                    <p>Health care is an essential category that many encompasses a wide range of
                                        services aimed at promoting and maintaining </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="services-box mb-30 wow fadeInUp animated" data-animation="fadeInUp"
                            data-delay=".4s">
                            <div class="sr-contner">
                                <div class="icon">
                                    <div class="icon-hover-one"><img src="../static/img/icon/sve-icon1.png"
                                            alt="icon01"></div>
                                    <div class="icon-hover-two"><img src="../static/img/icon/sve-icon-w1.png"
                                            alt="icon01"></div>
                                </div>
                                <div class="text">
                                    <h3><a href="services.html">Emergency Medical</a></h3>
                                    <p>Health care is an essential category that many encompasses a wide range of
                                        services aimed at promoting and maintaining </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="services-box mb-30 wow fadeInUp animated" data-animation="fadeInUp"
                            data-delay=".4s">
                            <div class="sr-contner">
                                <div class="icon">
                                    <div class="icon-hover-one"><img src="../static/img/icon/sve-icon1.png"
                                            alt="icon01"></div>
                                    <div class="icon-hover-two"><img src="../static/img/icon/sve-icon-w1.png"
                                            alt="icon01"></div>
                                </div>
                                <div class="text">
                                    <h3><a href="services.html">Physical Therapy</a></h3>
                                    <p>Health care is an essential category that many encompasses a wide range of
                                        services aimed at promoting and maintaining </p>
                                </div>
                            </div>
                        </div> -->
                </div>
            </div>
            </div>
        </section>
        <!-- service-details2-area-end -->

        <!-- about-area -->
        <section class="about-area about-p pt-120 pb-180 p-relative fix" style="background: #F2F2F2;">
            <div class="container">
                <div class="row justify-content-center align-items-center">
                    <div class="col-lg-5 col-md-12 col-sm-12">
                        <div class="about-content s-about-content mb-50 wow fadeInRight animated"
                            data-animation="fadeInRight" data-delay=".4s">
                            <div class="section-title second-title pb-25">
                                <h5><img src="../static/img/bg/sub-icon.png" alt="icon01"> About Us</h5>
                                <h2>Empowering Mental Health Through Technology</h2>
                            </div>
                            <p>We are dedicated to leveraging innovative technology to address mental health challenges,
                                with a focus on early detection and intervention for children experiencing depression.
                                Our mission is to provide accessible and effective solutions to support the well-being
                                of vulnerable populations.
                            </p>
                            <div class="about-content3 mt-30 mb-30">
                                <div class="row">
                                    <div class="col-md-12">
                                        <ul class="green">
                                            <li>Leveraging technology to detect depression in children through voice
                                                analysis.
                                            </li>
                                            <li>Committed to early intervention and support for mental health issues in
                                                vulnerable populations.</li>
                                            <li>Dedicated to providing accessible and effective solutions for promoting
                                                well-being.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <span class="h-call-box">
                                <div class="icon">
                                    <a href="tel:+921234567890"><img src="../static/img/slider/h-play2.png"
                                            alt="shape"></a>
                                </div>
                                <div class="text">
                                    <strong>Call Us Anytime</strong>
                                    <a href="tel:+921234567890">+92 123 4567890</a>
                                </div>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-12 col-sm-12"></div>
                    <div class="col-lg-5 col-md-12 col-sm-12">
                        <div class="s-about-img text-right p-relative wow fadeInLeft animated"
                            data-animation="fadeInLeft" data-delay=".4s">
                            <img src="../static/img/features/about_img_01.png" alt="img">
                            <div class="about-text second-about text-left">
                                <div class="box-text">
                                    <div class="icon"> <img src="../static/img/features/ab-ani-01.png" alt="img"> </div>
                                    <div class="text">
                                        <span>1.5k+</span>
                                        Services we provide
                                    </div>
                                </div>
                                <p>Lorem Ipsum is simply dummy text of the printing and nkqjfd ghjkkllkl typesetting
                                    industry.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- about-area-end -->

        <!-- frequently-area -->
        <section class="faq-area p-relative fix"
            style="background-image: url(../static/img/bg/faq-bg.png); background-repeat: no-repeat;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="section-title wow fadeInLeft animated mt-80 pr-80"
                            data-animation="fadeInDown animated" data-delay=".2s">
                            <h5><img src="../static/img/bg/sub-icon.png" alt="icon01"> Ask Anything</h5>
                            <h2>Caring For You</h2>
                            <p>Have questions about depression detection in children with voice analysis? We're here to
                                help!</p>
                            <div class="faq-contact">
                                <ul>
                                    <li>
                                        <div class="call-box">
                                            <div class="icon">
                                                <i class="fa fa-envelope"></i>
                                            </div>
                                            <div class="text">
                                                Main Email : info@kfueit.edu.pk<br>Inquiries : info@kfueit.edu.pk
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="call-box">
                                            <div class="icon">
                                                <i class="fa fa-phone"></i>
                                            </div>
                                            <div class="text">
                                                Telephone : +92 123 4567890 <br>Mobile : +92 123 4567890
                                            </div>
                                        </div>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="faq-wrap wow fadeInUp animated" data-animation="fadeInUp" data-delay=".4s">
                            <div class="accordion" id="accordionExample">
                                <div class="card">
                                    <div class="card-header" id="headingThree">
                                        <h2 class="mb-0">
                                            <button class="faq-btn" type="button" data-bs-toggle="collapse"
                                                data-bs-target="#collapseThree">
                                                1.How accurate is voice analysis in detecting depression in children?
                                            </button>
                                        </h2>
                                    </div>
                                    <div id="collapseThree" class="collapse show" data-bs-parent="#accordionExample">
                                        <div class="card-body">
                                            Voice analysis has shown promising results in identifying depressive
                                            symptoms, with studies indicating high accuracy rates in detecting vocal
                                            biomarkers associated with depression.
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingOne">
                                        <h2 class="mb-0">
                                            <button class="faq-btn collapsed" type="button" data-bs-toggle="collapse"
                                                data-bs-target="#collapseOne">
                                                2.Is the depression detection system suitable for use by parents and
                                                educators?
                                            </button>
                                        </h2>
                                    </div>
                                    <div id="collapseOne" class="collapse" data-bs-parent="#accordionExample">
                                        <div class="card-body">
                                            Yes, our system is designed to be user-friendly and accessible, making it
                                            suitable for parents, teachers, and other caregivers concerned about the
                                            mental well-being of children.
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingTwo">
                                        <h2 class="mb-0">
                                            <button class="faq-btn collapsed" type="button" data-bs-toggle="collapse"
                                                data-bs-target="#collapseTwo">
                                                3.What measures are in place to ensure the privacy and confidentiality
                                                of user data?
                                            </button>
                                        </h2>
                                    </div>
                                    <div id="collapseTwo" class="collapse" data-bs-parent="#accordionExample">
                                        <div class="card-body">
                                            We prioritize data privacy and adhere to strict security protocols to
                                            safeguard user information. All data is encrypted and handled in accordance
                                            with industry standards and regulations.
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <h2 class="mb-0">
                                            <button class="faq-btn collapsed" type="button" data-bs-toggle="collapse"
                                                data-bs-target="#collapseFour">
                                                4.How can I contribute to the development of the depression detection
                                                system?
                                            </button>
                                        </h2>
                                    </div>
                                    <div id="collapseFour" class="collapse" data-bs-parent="#accordionExample">
                                        <div class="card-body">
                                            We welcome collaboration and feedback from stakeholders interested in
                                            improving mental health support for children. Reach out to us to explore
                                            partnership opportunities or share your insights and suggestions.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- frequently-area-end -->
        <!-- work-process-area -->
        <section class="work-process pt-120 pb-120 p-relative fix">
            <div class="animations-02"><img src="../static/img/bg/ani-img-01.png" alt="an-img-01"></div>
            <div class="container">
                <div class="row justify-content-center align-items-center mb-60">
                    <div class="col-lg-6 col-md-12">
                        <div class="section-title center-align text-center wow fadeInDown animated"
                            data-animation="fadeInDown" data-delay=".4s">
                            <h5><img src="../static/img/bg/sub-icon.png" alt="icon01"> Work Process</h5>
                            <h2>
                                Empowering Mental Health
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-12">
                        <div class="work-process-box text-center">
                            <div class="icon">
                                <img src="../static/img/icon/process-icon-01.png" alt="icon01">
                            </div>
                            <div class="text">
                                <h3><a href="services.html">Data Collection and Preprocessing</a></h3>
                                <p>Gather voice samples from children for analysis and preprocess the data to ensure
                                    accuracy in depression detection.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="work-process-box text-center">
                            <div class="icon">
                                <img src="../static/img/icon/process-icon-02.png" alt="icon01">
                            </div>
                            <div class="text">
                                <h3><a href="services.html">Model Training and Optimization</a></h3>
                                <p>Utilize machine learning algorithms to train the depression detection model and
                                    optimize it to enhance predictive accuracy and efficiency.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="work-process-box text-center">
                            <div class="icon">
                                <img src="../static/img/icon/process-icon-03.png" alt="icon01">
                            </div>
                            <div class="text">
                                <h3><a href="services.html">Testing and Validation</a></h3>
                                <p>Conduct thorough testing of the developed system to validate its performance and
                                    evaluate accuracy and reliability through real-world scenarios and user feedback.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- work-process-area-end -->



        <!-- contact-area -->
        <section class="contact-area pt-120 pb-120 p-relative fix"
            style="background-image: url(../static/img/bg/contac-bg.png); background-repeat: no-repeat;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="contact-img2">
                            <img src="../static/img/bg/contact-img.png" alt="img">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="contact-bg02">
                            <div class="section-title wow fadeInDown animated" data-animation="fadeInDown"
                                data-delay=".4s">
                                <h5><img src="../static/img/bg/sub-icon.png" alt="icon01"> TALK TO US </h5>
                                <h2>
                                    Get In Touch
                                </h2>
                            </div>
                            <form action="contact" method="post" class="contact-form mt-30 wow fadeInUp animated"
                                data-animation="fadeInUp" data-delay=".4s">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="contact-field p-relative c-name mb-20">
                                            <input type="text" id="name" name="name" placeholder="Name"
                                                required>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="contact-field p-relative c-subject mb-20">
                                            <input type="text" id="email" name="email" placeholder="Email" required>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="contact-field p-relative c-subject mb-20">
                                            <input type="text" id="subject" name="subject" placeholder="Subject"
                                                required>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="contact-field p-relative c-message mb-30">
                                            <textarea name="message" id="message" cols="30" rows="10"
                                                placeholder="Write comments" required></textarea>
                                        </div>
                                        <div class="slider-btn">
                                            <button class="btn ss-btn" data-animation="fadeInRight"
                                                data-delay=".8s"><span>Submit Now</span></button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- contact-area-end -->
    </main>
    <!-- main-area-end -->

    <!-- footer -->
    <footer class="footer-bg footer-two footer-p" style="background-image: url(../static/img/bg/footer-bg.png);">
        <div class="footer-top  pt-90 pb-30">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-xl-4 col-lg-4 col-sm-6">
                        <div class="footer-widget mb-30" data-aos="fade-up" data-aos-duration="1000">
                            <div class="f-widget-title">
                                <h2> <img src="../static/img/logo/f_logo.png" alt="img"></h2>
                            </div>
                            <div class="f-contact pr-10">
                                <p>Empowering mental health through innovative technology, we strive to create
                                    accessible solutions for early detection and intervention in children's mental
                                    well-being, ensuring a brighter and healthier future for all.</p>
                            </div>
                            <div class="footer-social mt-10">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-sm-6">
                        <div class="footer-widget mb-30" data-aos="fade-up" data-aos-duration="1400">
                            <div class="f-widget-title">
                                <h2>Important Links</h2>
                            </div>
                            <div class="footer-link">
                                <ul>
                                    <li><a href="/">Home</a></li>
                                    <li><a href="contact">Contact Us</a></li>
                                    <li><a href="signin">Sign In</a></li>
                                    <li><a href="signup">Sign Up</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-sm-6">
                        <div class="footer-widget mb-30" data-aos="fade-up" data-aos-duration="1800">
                            <div class="f-widget-title">
                                <h2>Contact Us </h2>
                            </div>
                            <div class="f-contact pr-10">
                                <ul>
                                    <li>
                                        <div class="icon"><i class="icon fal fa-envelope"></i><span><a
                                                    href="mailto:info@kfueit.edu.pk">info@kfueit.edu.pk</a></span></div>
                                    </li>
                                    <li>
                                        <div class="icon"> <i class="icon fal fa-location-dot"></i> <span>Kfueit, Abu
                                                Dhabi Rd, Rahim Yar Khan, Punjab</span> </div>
                                    </li>
                                    <li>
                                        <div class="icon"> <i class="icon fal fa-phone"></i> <span><a
                                                    href="tel:+921234567890">+92 123 4567890</a></span> </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-wrap">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        Copyright © DDCV2024 . All rights reserved.
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer-end -->

    <!-- JS here -->
    <script src="../static/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="../static/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="../static/js/popper.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/slick.min.js"></script>
    <script src="../static/js/ajax-form.js"></script>
    <script src="../static/js/paroller.js"></script>
    <script src="../static/js/wow.min.js"></script>
    <script src="../static/js/js_isotope.pkgd.min.js"></script>
    <script src="../static/js/imagesloaded.min.js"></script>
    <script src="../static/js/parallax.min.js"></script>
    <script src="../static/js/jquery.waypoints.min.js"></script>
    <script src="../static/js/jquery.counterup.min.js"></script>
    <script src="../static/js/jquery.scrollUp.min.js"></script>
    <script src="../static/js/jquery.meanmenu.min.js"></script>
    <script src="../static/js/parallax-scroll.js"></script>
    <script src="../static/js/swiper.min.js"></script>
    <script src="../static/js/jquery.magnific-popup.min.js"></script>
    <script src="../static/js/element-in-view.js"></script>
    <script src="../static/js/main.js"></script>
</body>

</html>